<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="henu.wh.checkbygps">
    <!-- GPS定位 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".home.MapMakerActivity"></activity>
        <activity android:name=".home.MapActivity" />
        <activity android:name=".home.FullMemberSignInfoActivity" />
        <activity android:name=".home.MemSignInfoActivity" />
        <activity android:name=".home.SignInfoActivity" />
        <activity android:name=".home.MemberInfoActivity" />
        <activity android:name=".home.IGroupManagerActivity" />
        <activity android:name=".home.MGroupManagerActivity" />
        <activity android:name=".message.MessageActivity" />
        <activity android:name=".chat.ChatActivity" />
        <activity android:name=".home.SearchGroupActivity" />
        <activity android:name=".home.ChangePersonActivity" />
        <activity android:name=".home.PersonActivity" />
        <activity android:name=".home.MenuActivity" />
        <activity android:name=".home.CreateGroupActivity" />
        <activity android:name=".forgetpasswd.ChoseActivity" />
        <activity android:name=".forgetpasswd.ChangeInfoActivity" />
        <activity android:name=".home.HomeActivity" />
        <activity android:name=".forgetpasswd.ChangePawdActivity" />
        <activity android:name=".register.VerifyActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".register.RegisterActivity" />
        <activity android:name=".forgetpasswd.ForgetPasswordActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" /> <!-- 通过AndroidManifest配置AppKey和AppSecret，如果你选择通过代码配置，则不需要配置以下meta-data -->
        <meta-data
            android:name="Mob-AppKey"
            android:value="3107a8f5189f8" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="70088e2559f5bde6bd112fd9414b7b17" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="q5csN7h0wXprGLlCU98yLibG0LVqU58D" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
    </application>

</manifest>