<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="henu.wh.checkbygps">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 访问网络，进行地图相关业务数据请求，包括地图数据，路线规划，POI检索等 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 获取网络状态，根据网络状态切换进行数据请求网络转换 -->
    <!-- 读取外置存储。如果开发者使用了so动态加载功能并且把so文件放在了外置存储区域，则需要申请该权限，否则不需要 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 写外置存储。如果开发者使用了离线地图，并且数据写在外置存储区域，则需要申请该权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".home.SignInfoActivity" />
        <activity android:name=".home.MemberInfoActivity" />
        <activity android:name=".home.IGroupManagerActivity" />
        <activity android:name=".home.MGroupManagerActivity" />
        <activity android:name=".message.MessageActivity" />
        <activity android:name=".chat.ChatActivity" />
        <activity android:name=".home.SearchGroupActivity" />
        <activity android:name=".home.ChangePersonActivity" />
        <activity android:name=".home.PersonActivity" />
        <activity android:name=".home.MenuActivity" />
        <activity android:name=".home.CreateGroupActivity" />
        <activity android:name=".forgetpasswd.ChoseActivity" />
        <activity android:name=".forgetpasswd.ChangeInfoActivity" />
        <activity android:name=".home.HomeActivity" />
        <activity android:name=".forgetpasswd.ChangePawdActivity" />
        <activity android:name=".register.VerifyActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".register.RegisterActivity" />
        <activity android:name=".forgetpasswd.ForgetPasswordActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" /> <!-- 通过AndroidManifest配置AppKey和AppSecret，如果你选择通过代码配置，则不需要配置以下meta-data -->
        <meta-data
            android:name="Mob-AppKey"
            android:value="3107a8f5189f8" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="70088e2559f5bde6bd112fd9414b7b17" />
<!--        <meta-data-->
<!--            android:name="com.baidu.lbsapi.API_KEY"-->
<!--            android:value="TIxcmByutCVLwenCtuiEFGoND3XTfNvt" />-->

<!--        <service-->
<!--            android:name="com.baidu.location.f"-->
<!--            android:enabled="true"-->
<!--            android:process=":remote" />-->
    </application>

</manifest>